<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <style type="text/css">
    .container {
        text-align: left;
        height: auto;
        width: 700px;
        clear: both;
    }
    .container input {
        text-align: left;
        width: 95%;
        clear: both;
    }
}
</style>
</head>

<body>

    <div ng-app="myValidationApp" class="container" ng-controller="formCtrl">
        <h1>Cast Your Vote</h1>
        <hr>
        <p>First and last name must be alphabetical</p>
        <p>Social security number must be 9 digits long, no dashes necessary</p>
        <p>If given, phone number must be 10 digits long, no dashes necessary</p>
        <p><b>In order to vote, you must be at least 18 years of age</b></p>
        <hr>
        <p><span style="color:red">* indicates a required field</span></p>
        <form name="myForm" ng-submit="submitForm(myForm.$valid)" novalidate>
            First Name
            <input type="text" name="fname" ng-model="user.firstName" ng-pattern="/^[a-zA-Z]*$/" ng-class="{ 'has-error' : myForm.fname.$invalid && !myForm.fname.$pristine && submitted}" required>
            <span style="color:red"> *</span>
            <span style="color:red" ng-show="submitted && myForm.fname.$invalid">
                <span ng-show="myForm.fname.$error.required">First name is required.<br></span>
            </span>
            <span style="color:red" ng-show="myForm.fname.$invalid">
                <span ng-show="myForm.fname.$error.pattern">Only alphabetical characters allowed<br></span>
            </span>

            <br><br>Last Name
            <input type="text" name="lname" ng-model="user.lastName" ng-pattern="/^[a-zA-Z]*$/" ng-class="{ 'has-error' : myForm.lname.$invalid && !myForm.lname.$pristine && submitted} "required>
            <span style="color:red"> *</span>
            <span style="color:red" ng-show="submitted && myForm.lname.$invalid">
                <span ng-show="myForm.lname.$error.required">Last name is required.<br></span>
            </span>
            <span style="color:red" ng-show="myForm.lname.$invalid">
                <span ng-show="myForm.lname.$error.pattern">Only alphabetical characters allowed<br></span>
            </span>

            <br><br>Social Security Number
            <input type="text" name="ssn" ng-model="user.ssn" ng-pattern="/^(\d)+$/" ng-minlength="9" ng-maxlength="9" ng-class="{ 'has-error' : myForm.ssn.$invalid && !myForm.ssn.$pristine && submitted}" required>
            <span style="color:red"> *</span>
            <span style="color:grey" ng-show="myForm.ssn.$error.minlength || myForm.ssn.$error.maxlength">Social Security number must be 9 digits long</span>
            <span style="color:red" ng-show="submitted && myForm.ssn.$invalid">
                <span ng-show="myForm.ssn.$error.required">Social Security number is required.<br></span>
            </span>
            <span style="color:red" ng-show="myForm.ssn.$invalid">
                <span ng-show="myForm.ssn.$error.pattern">Digits only<br></span>
            </span>

            <br><br>Phone Number
            <input type="tel" name="phone" ng-model="user.phone" ng-pattern="/^(\d)+$/" ng-minlength="10" ng-maxlength="10">
            <span style="color:grey" ng-show="myForm.phone.$error.minlength || myForm.phone.$error.maxlength">Phone number must be 10 digits long</span>
            <span style="color:red" ng-show="myForm.phone.$invalid">
                <span ng-show="myForm.phone.$error.pattern">Digits only<br></span>
            </span>

            <br><br>Email
            <input type="email" name="email" ng-model="user.email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" ng-class="{ 'has-error' : myForm.email.$invalid && !myForm.email.$pristine && submitted}" required>
            <span style="color:red"> *</span>
            <span style="color:red" ng-show="submitted && myForm.email.$invalid">
                <span ng-show="myForm.email.$error.required">Email is required.<br></span>
                <span ng-show="myForm.email.$error.pattern">Invalid email address.<br></span>
            </span>

            <br><br>DOB
            <input type="date" name="DOB" max="{{minAge | date:'yyyy-MM-dd'}}" ng-model="user.DOB" ng-class="{ 'has-error' : myForm.DOB.$invalid && !myForm.DOB.$pristine && submitted}" required>
            <span style="color:red"> *</span>
            <span style="color:red" ng-show="submitted && myForm.DOB.$invalid">
                <span ng-show="myForm.DOB.$error.required">Date of birth is required.<br></span>
            </span>
            <span style="color:red" ng-show="submitted && myForm.DOB.$error.max">Must be at least 18 years of age<br></span>

            <br><br>Choose a candidate<br>
            <select name="candidate" ng-model="mySelect" ng-class="{ 'has-error' : myForm.candidate.$invalid && !myForm.candidate.$pristine && submitted}" required>
                <option value="">--Select--
                    <option ng-repeat="c in candidates" value="{{c.id}}">{{c.name}}</option>
                </select>
                <span style="color:red"> *</span>

                <span style="color:red" ng-show="submitted && myForm.candidate.$invalid">
                    <span ng-show="myForm.candidate.$error.required"><br>{{msg}}You must select a candidate<br></span>
                </span>
                <div ng-switch="mySelect">
                    <div ng-switch-when="clinton">
                        <h1>Hillary Clinton </h1>
                        <p> Democrat </p>
                        <img src="clinton.jpg" height="200px" width="200px">
                    </div>
                    <div ng-switch-when="trump">
                        <h1>Donald Trump </h1>
                        <p> Republican </p>
                        <img src="trump.jpg" height="200px" width="200px">
                    </div>
                    <div ng-switch-when="johnson">
                        <h1>Gary Johnson</h1>
                        <p> Libritarian </p>
                        <img src="johnson.png" height="200px" width="200px">
                    </div>
                    <div ng-switch-when="stein">
                        <h1>Jill Stein</h1>
                        <p> Green </p>
                        <img src="stein.jpg" height="200px" width="200px">
                    </div>
                </div>
            </div>

            <button class="button" type="submit" ng-model="user.hasVoted">VOTE</button>
            <br>
        </form>

    </div>

    <script>
    var app = angular.module('myValidationApp', []);

    app.controller('formCtrl', function($scope, votes, voters) {

        var votesService = votes;
        var votersService = voters;

        //check minimum age for DOB in form
        var today = new Date();
        var minAge = 18;
        $scope.minAge = new Date(today.getFullYear() - minAge, today.getMonth(), today.getDate());
        //object representing candidates
        $scope.candidates = [{"id": "clinton", "name": "Hillary Clinton"}, {"id": "trump", "name": "Donald Trump"},
        {"id": "johnson", "name": "Gary Johnson"}, {"id": "stein", "name": "Jill Stein"}];
        //TODO implement a user object and check for ability to vote

        $scope.submitForm = function(isValid)
        {
            $scope.submitted = true;
            if(isValid)
            {
                votesService.add($scope.mySelect);
                // console.log("going to call voters service get");
                // votersService.get($scope.user);
                console.log("going to call votersservice add:");
                votersService.add($scope.user);

            }
            else
            {
                alert("Form not valid. Please fix the required fields");
            }
        }
    });
    //custom service to handle voting - retrieving from and sending to the server
    app.factory('votes', function($http)
    {
        var votesObj = {};

        //get current votes from server
            $http.get("getVotes.php").success(function(data)
            {
                votesObj = data;
            })

        votesObj.add = function(candidate)
        {
            $http.post("sendVotes.php", {'candidate': candidate, 'votes': votesObj}).then(function(response)
            {
                alert("Thank you for voting!");
                console.log("after sendVotes.php:");
                console.log(response.data);
                return response.data;
            })
        }
        return votesObj;

    });

    //custom service to handle voters information - retrieving from and sending to the server
    app.factory('voters', function($http)
    {
        var voterObj = {};

        //get current voters from server
        voterObj.get = function(voter)
        {
            $http.post("getVoters.php?voter", voter).success(function(data)
            {
                console.log("From getVoters.php: " + data);
                if(data == true)
                {
                    alert("I'm sorry, you've already voted.");
                }
            })
        }
        voterObj.add = function(voter)
        {
            $http.post("addVoters.php", voter).then(function(response)
            {
                console.log("after addVoters.php: ");
                if(response.data == false)
                {
                    alert("you already voted");
                }
                else
                {
                    console.log(response.data);
                }
                return response.data;
            })
        }

        return voterObj;
    });

    </script>

</body>
</html>
