<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script type="text/javascript" src="/Users/jacobneyens/Documents/coms319/fusioncharts-suite-xt/js/fusioncharts.js"></script>
  <script type="text/javascript" src="/Users/jacobneyens/Documents/coms319/angularjs/angular-fusioncharts.js"></script>

  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <style type="text/css">
  .container {
    text-align: left;
    height: auto;
    width: 500px;
    clear: both;
  }
  .container input {
    text-align: left;
    width: 50%;
    clear: both;
  }
  /*.button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button:hover
{
background-color: #3e8e41
}

.button:active {
background-color: #3e8e41;
box-shadow: 0 5px #666;
transform: translateY(4px);
}*/


}
</style>
</head>

<body>

  <div align="center">
    <div id="validation" ng-app="myValidationApp" ng-controller="formCtrl">
      <h1>Cast Your Vote</h1>
      <hr>
      <p>First and last name must be alphabetical</p>
      <p>Social security number must be 9 digits long, no dashes necessary</p>
      <p>If given, phone number must be 10 digits long, no dashes necessary</p>
      <p><b>In order to vote, you must be at least 18 years of age</b></p>
      <hr>
      <p><span style="color:red">* indicates a required field</span></p>
      <form name="myForm" ng-submit="submitForm(myForm.$valid)" novalidate>
        First Name
        <input type="text" name="fname" ng-model="user.firstName" ng-pattern="/^(\D)+$/" ng-class="{ 'has-error' : myForm.fname.$invalid && !myForm.fname.$pristine && submitted}" required>
        <span style="color:red"> *</span>
        <span style="color:red" ng-show="submitted && myForm.fname.$invalid">
          <span ng-show="myForm.fname.$error.required"><br>First name is required.<br></span>
        </span>
        <span style="color:red" ng-show="myForm.fname.$invalid">
          <span ng-show="myForm.fname.$error.pattern"><br>Only alphabetical characters allowed<br></span>
        </span>

        <br><br>Last Name
        <input type="text" name="lname" ng-model="user.lastName" ng-pattern="/^(\D)+$/" ng-class="{ 'has-error' : myForm.lname.$invalid && !myForm.lname.$pristine && submitted} "required>
        <span style="color:red"> *</span>
        <span style="color:red" ng-show="submitted && myForm.lname.$invalid">
          <span ng-show="myForm.lname.$error.required"><br>Last name is required.<br></span>
        </span>
        <span style="color:red" ng-show="myForm.lname.$invalid">
          <span ng-show="myForm.lname.$error.pattern"><br>Only alphabetical characters allowed<br></span>
        </span>

        <br><br>Social Security Number
        <input type="text" name="ssn" ng-model="user.ssn" ng-pattern="/^(\d)+$/" ng-minlength="9" ng-maxlength="9" ng-class="{ 'has-error' : myForm.ssn.$invalid && !myForm.ssn.$pristine && submitted}" required>
        <span style="color:red"> *</span>
        <span style="color:grey" ng-show="myForm.ssn.$error.minlength || myForm.ssn.$error.maxlength"><br>Social Security number must be 9 digits long</span>
        <span style="color:red" ng-show="submitted && myForm.ssn.$invalid">
          <span ng-show="myForm.ssn.$error.required"><br>Social Security number is required.<br></span>
        </span>
        <span style="color:red" ng-show="myForm.ssn.$invalid">
          <span ng-show="myForm.ssn.$error.pattern"><br>Digits only<br></span>
        </span>

        <br><br>Phone Number
        <input type="tel" name="phone" ng-model="user.phone" ng-pattern="/^(\d)+$/" ng-minlength="10" ng-maxlength="10">
        <span style="color:grey" ng-show="myForm.phone.$error.minlength || myForm.phone.$error.maxlength"><br>Phone number must be 10 digits long</span>
        <span style="color:red" ng-show="myForm.phone.$invalid">
          <span ng-show="myForm.phone.$error.pattern"><br>Digits only<br></span>
        </span>

        <br><br>Email
        <input type="email" name="email" ng-model="user.email" ng-class="{ 'has-error' : myForm.email.$invalid && !myForm.email.$pristine && submitted}" required>
        <span style="color:red"> *</span>
        <span style="color:red" ng-show="submitted && myForm.email.$invalid">
          <span ng-show="myForm.email.$error.required"><br>Email is required.<br></span>
          <span ng-show="myForm.email.$error.email"><br>Invalid email address.<br></span>
        </span>

        <br><br>DOB
        <input type="date" name="DOB" max="{{minAge | date:'yyyy-MM-dd'}}" ng-model="user.DOB" ng-class="{ 'has-error' : myForm.DOB.$invalid && !myForm.DOB.$pristine && submitted}" required>
        <span style="color:red"> *</span>
        <span style="color:red" ng-show="submitted && myForm.DOB.$invalid">
          <span ng-show="myForm.DOB.$error.required"><br>Date of birth is required.<br></span>
        </span>
        <span style="color:red" ng-show="submitted && myForm.DOB.$error.max"><br>Must be at least 18 years of age<br></span>

        <br><br>Choose a candidate<br>
        <select name="candidate" ng-model="mySelect" ng-class="{ 'has-error' : myForm.candidate.$invalid && !myForm.candidate.$pristine && submitted}" required>
          <option value="">--Select--
            <option ng-repeat="c in candidates" value="{{c.id}}">{{c.name}}</option>
          </select>
          <span style="color:red"> *</span>

          <span style="color:red" ng-show="submitted && myForm.candidate.$invalid">
            <span ng-show="myForm.candidate.$error.required"><br>{{msg}}You must select a candidate<br></span>
          </span>
          <div ng-switch="mySelect">
            <div ng-switch-when="clinton">
              <h1>Hillary Clinton</h1>
              <p> Democrat </p>
              <img src="clinton.jpg" height="200px" width="200px">
            </div>
            <div ng-switch-when="trump">
              <h1>Donald Trump</h1>
              <p> Republican </p>
              <img src="trump.jpg" height="200px" width="200px">
            </div>
            <div ng-switch-when="johnson">
              <h1>Gary Johnson</h1>
              <p> Libritarian </p>
              <img src="johnson.png" height="200px" width="200px">
            </div>
            <div ng-switch-when="stein">
              <h1>Jill Stein</h1>
              <p> Green </p>
              <img src="stein.jpg" height="200px" width="200px">
            </div>
          </div>
        </div>


        <button id="button" class="button" type="submit" ng-disable="hasUserVoted(user.ssn)">VOTE</button>
        <br>
        <br>
        <br>
      </form>
      <!-- <p>form = {{user}}</p>
      <p>master = {{master}}</p> -->
    </div>

    <div align = "center">
      <div id="graph" ng-app="myGraphApp" ng-controller = "MyGraphController">
          <div fusioncharts
          width="600"
          height="400"
          type="column2d"
          dataSource="{{ myDataSource }}" >
        </div>
      </div>
    </div>
  </div>



  <script>





  // console.log("number of total votes: " + votes);

  var graphApp = angular.module("myGraphApp", ["ng-fusioncharts"])
  graphApp.controller('MyGraphController', function ($scope) {
    $scope.myDataSource = {
      chart: {
        caption: "2016 Presidential Election",
        subCaption: "Number of votes for this year's Presidential Candidates",
        yaxisname: "Number of Votes",
        useroundedges: "1"

      },
      data:[{
        label: "Hillary Clinton (Democrat)",
        value: "36",
        color: "#0000ff"
      },
      {
        label: "Donald Trump (Republican)",
        value: "48",
        color: "#cc0000"
      },
      {
        label: "Gary Johnson (Libertarian)",
        value: "14",
        color: "#ffcc00"
      },
      {
        label: "Jill Stein (Green)",
        value: "6",
        color: "#29a329"
      },
      {
        label: "Other",
        value: "2",
        color: "#9b59b6"
      }]
    };
  });


  var app = angular.module('myValidationApp', []);
  app.controller('formCtrl', function($scope, votes) {
    //check age
    var today = new Date();
    var minAge = 18;
    $scope.minAge = new Date(today.getFullYear() - minAge, today.getMonth(), today.getDate());
    // $scope.master = {firstName:"John", lastName:"Doe"};
    $scope.candidates = [{"id": "clinton", "name": "Hillary Clinton", "votes": 0}, {"id": "trump", "name": "Donald Trump", "votes": 0},
    {"id": "johnson", "name": "Gary Johnson", "votes": 0}, {"id": "stein", "name": "Jill Stein", "votes": 0}];
    var votesService = votes;
    //$scope.votes = 0;

    $scope.hasUserVoted = function(userSSN)
    {
      if(user.ssn.hasVoted)
      {
        return false;
      }
      else return true; //can vote
    }

    $scope.submitForm = function(isValid)
    {
      $scope.submitted = true;
      if(isValid)
      {
        alert("form is valid");
        //$scope.vote();
        votesService.vote($scope.mySelect);
      }
      else
      {
        alert("form not valid");
      }
    }
    votesService.vote = function(candidate)
    {
      votes.add(candidate);
    }
    // $scope.vote = function()
    // {
    //     $scope.watch('votes', function()
    //     {
    //         $scope.votes = $scope.votes++;
    //
    //     }, true);
    //
    //     if($scope.mySelect == "clinton")
    //     {
    //         clintonCount += 1;
    //     }
    //     else if($scope.mySelect == "trump")
    //     {
    //         trumpCount += 1;
    //     }
    //     else if($scope.mySelect == "johnson")
    //     {
    //         johnsonCount += 1;
    //     }
    //     else if($scope.mySelect == "stein")
    //     {
    //         steinCount += 1;
    //     }
    //
    //     console.log("thank you for voting, now total votes is: " + votes);
    //     console.log("clinton: " + clintonCount);
    //     console.log("trump: " + trumpCount);
    //     console.log("johsnon: " + johnsonCount);
    //     console.log("stein: " + steinCount);
    //
    // }
  });

  angular.bootstrap(document.getElementById("graph"), ['myGraphApp']);

  app.factory('votes', function()
  {
    var trumpCount = 0;
    var clintonCount = 0;
    var johnsonCount = 0;
    var steinCount = 0;
    var votes = {"clinton": clintonCount, "trump": trumpCount, "johnson" : johnsonCount, "stein": steinCount};
    console.log("AT FIRST");
    console.log(votes);

    votes.add = function(candidate)
    {
      if(candidate == "clinton")
      {
        votes.clinton++;
        console.log("votes for clinton " + clintonCount);
      }
      else if(candidate == "trump")
      {
        votes.trump++;
        console.log("votes for trump " + trumpCount);

      }
      else if(candidate == "johnson")
      {
        votes.johnson++;
        console.log("votes for johnson " + johnsonCount);
      }
      else if(candidate == "stein")
      {
        votes.stein++;
        console.log("votes for stein " + steinCount);
      }

      console.log("NOW");
      console.log(votes);

    }
    return votes;
  });

  </script>

</body>
</html>
