Undergrad
<div ng-controller="undergradController">
    <table id="undergradTable" border="1px solid black">
        <th style='background-color:green'>Literature Shelf</th>
        <th style='background-color:green'>Science Shelf</th>
        <th style='background-color:green'>Sports Shelf</th>
        <th style='background-color:green'>Art Shelf</th>

        <tr ng-repeat="book in books">
            <td  ng-click="check(book)"><span id="{{book.name}}" ng-if="book.shelf == 0" >{{book.name}} </span></td>
            <td  ng-click="check(book)"><span id="{{book.name}}" ng-if="book.shelf == 1" >{{book.name}} </span></td>
            <td  ng-click="check(book)"><span id="{{book.name}}" ng-if="book.shelf == 2" >{{book.name}} </span></td>
            <td  ng-click="check(book)"><span id="{{book.name}}" ng-if="book.shelf == 3" >{{book.name}} </span></td>
        </tr>
    </table>
</div>
